.perfil {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;

    .userInfoContainer {
        flex: 1;
    }

    .actionContainer {
        flex: 3;
        width: 100%;
    }
}